:root {
    --primary-color: #323031; /* Jet */
    --secondary-color: #2978A0; /* Cerulean */
    --accent-color1: #EE8434; /* Orange (wheel) */
    --accent-color2: #fefeff; /* White */
    --accent-color3: #0094C6; /* Blue (NCS) */
    --header-font: "Bebas Neue", sans-serif;
    --body-font: "Share Tech", sans-serif;
}

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;;
    color: var(--accent-color2);
}

header {
	margin: 20px;
    padding: 5px;
	display: grid;
	grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr;
	align-items: center;
    border-bottom: 5px solid var(--accent-color2);
    border-left: 5px solid var(--accent-color2);
    border-right: 5px solid var(--primary-color);
    border-top: 5px solid var(--primary-color);
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

header img {
    width: 125px;
    height: auto;
}

main {
    width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.villain {
    display: flex;
    align-items: center;
}

.villain iframe {
    display: flex;
    justify-content: left;
    width: 75%; 
    height: auto;
}

.villain p1 {
    display: block;
    align-items: center;
    box-align: center;
    text-align: left;
}

p1 {
    display: block;
    align-content: center;
}

.history {
    width: 150%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    background-color: var(--accent-color3);
}

.history img {
    width: 300px;
}

article {
    background-color: var(--accent-color1);
    color: var(--accent-color2);
    opacity: 0.75;
    position: absolute;
    top: 350px;
    width: 810px;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

h1, h2 {
    font-family: var(--header-font);
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.75;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
}

.hero h1 {
    position: absolute;
}

.villain h1 {
    display: absolute;
}

body {
    font-family: var(--body-font);
    background-color: var(--secondary-color);
}

section img {
    width: 200px;
}

section {
    margin: 0px;
    background-color: var(--accent-color3);
}

.adventure {
    width: 150%;
    padding: 10px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-self: center;
    padding: 10px;
}

.adventure2 {
    width: 150%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
    justify-items: center;
    justify-self: center;
    padding: 10px;
}

form {
    background-color: var(--accent-color3);
    text-align: center;
}

fieldset {
    display: flex;
    justify-content: space-between;
}

select {
    display: block;
    position: relative;
}

option {
    color: var(--primary-color);
    background-color: var(--accent-color2);
}

.names input {
    width: 300px;
}

footer {
    margin: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid var(--accent-color2);
    border-right: 5px solid var(--accent-color2);
    border-bottom: 5px solid var(--primary-color);
    border-left: 5px solid var(--primary-color);
    background-color: var(--accent-color1);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}