:root {
    --primary-color: #323031; /* Jet */
    --secondary-color: #2978A0; /* Cerulean */
    --accent-color1: #EE8434; /* Orange (wheel) */
    --accent-color2: #fefeff; /* White */
    --accent-color3: #0094C6; /* Blue (NCS) */
    --header-font: "Bebas Neue", sans-serif;
    --body-font: "Share Tech", sans-serif;
}

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;;
    color: var(--accent-color2);
}

header, footer {
	margin: 20px;
    padding: 5px;
	display: grid;
	grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr;
	align-items: center;
    border-top: 5px solid var(--accent-color2);
    border-right: 5px solid var(--accent-color2);
    border-bottom: 5px solid var(--primary-color);
    border-left: 5px solid var(--primary-color);
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-around;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

header img {
    width: 125px;
    height: auto;
}

.contact {
    width: 1500px;
    margin: 0 auto;
}

main {
    width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.villain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--accent-color3);
}

.villain iframe {
    width: 500px; 
    height: 450px;
}

.villain p {
    display: block;
    align-items: center;
    text-align: left;
}

p {
    display: block;
    align-content: center;
}

.history {
    width: 150%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    background-color: var(--accent-color3);
}

.history img {
    width: 300px;
}

article {
    background-color: var(--accent-color1);
    color: var(--accent-color2);
    opacity: 0.75;
    position: absolute;
    top: 350px;
    width: 810px;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}


h1, h2 {
    font-family: var(--header-font);
    top: 20px;
    padding: 16px;
    text-align: center;
    opacity: 0.75;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
}

.contact h1 {
    opacity: 100%;
}

.team {
    font-family: var(--header-font);
    top: 20px;
    width: 100%;
    opacity: 100%;
    text-align: center;
    background-color: var(--accent-color3);
    color: var(--accent-color2);
}

body {
    font-family: var(--body-font);
    background-color: var(--secondary-color);
}

.info h2 {
    width: 500px;
    display: flex;
    align-items: center;
    opacity: 100%;
    color: var(--accent-color);
    background-color: #0094C6;
}

section img {
    width: 200px;
}

section {
    margin: 0px;
    background-color: var(--accent-color3);
}

.adventure {
    width: 150%;
    padding: 10px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-self: center;
    padding: 10px;
}

.employee {
    margin: 0px;
    background-color: var(--accent-color3);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.employee img {
    width: 200px;
    text-align: center;
}

form {
    background-color: var(--accent-color3);
    text-align: center;
}

fieldset {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

select {
    width: 350px;
    justify-content: center;
    align-items: center;
}

.check {
    width: 15px;
    height: 100%;
}

.message {
    width: 200%;
    height: 500%;
}

textarea {
    display: flex;
    background-color: var(--accent-color2);
    color: var(--primary-color);
    width: 1425px;
    height: auto;
}

button {
    margin-left: 1000px;
    display: flex;
    justify-self: right;
    align-self: center;
    color: var(--primary-color)
}

select {
    display: block;
    position: relative;
}

option {
    color: var(--primary-color);
    background-color: var(--accent-color2);
}



nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}