:root {
    --primary-color: #323031; /* Jet */
    --secondary-color: #2978A0; /* Cerulean */
    --accent-color1: #EE8434; /* Orange (wheel) */
    --accent-color2: #fefeff; /* White */
    --accent-color3: #0094C6; /* Blue (NCS) */
    --header-font: "Bebas Neue", sans-serif;
    --body-font: "Share Tech", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 125px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    background-color: var(--accent-color1);
    color: var(--accent-color2);
    opacity: 0.75;
    position: absolute;
    top: 350px;
    width: 810px;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.75;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--header-font);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}